*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
/test/tmp/*
/test/vagrant_ansible_inventory_*
/test/version_tmp
/test/.vagrant
/tmp
/Vagrantfile
/bin
